$color_1: rgb(255, 255, 255);
$color_2: rgb(116, 116, 116);
$color_3: rgb(5, 5, 0, 0.8);
$coffee: #4e3f3e;
$latte: #6a6969;
$darkest-brown: "#2d2b2b";
$lightest-gray: #d0d0d0;
$color_5: rgba(0, 0, 0, 1);
$sans-serif:  "Open Sans","Work Sans", Arial, Helvetica, sans-serif;
$font-family_2: "Averia Serif Libre";
$hedvig: "Hedvig Letters Serif";
$inter: Inter;
$background-color_1: #da5656;
$background-color_2: rgba(218, 218, 205, 0.8);
$background-color_3: #d7e3ff;
$background-coffee: #decafe;
$background-color_5: #ffdaee;
$background-color_6: #e1e1e1;
$robins-egg: #B1D1C7;


html {
	font-family: $sans-serif;
	cursor: default;
	font-size: 16px;
	display: flex;
	height: 100%;
	width: 100%;
	overflow-x: hidden;
}
a {
	text-decoration: none;
}
.logo {
	position: fixed;
	z-index: 10;
	font-family: $inter;
    font-weight: 300;
	// padding: 0.5rem;
	font-size: 1.1rem;
	text-align: center;
	color: $coffee;
	width: 100%;
	background-color: $robins-egg;
}
#img-logo{
	width: 10%;
}
.serif {
	font-family: $hedvig;
}
body {
	display: flex;
	flex-direction: column;
	height: 100%;
	width: 100%;
	margin: 0;
	overflow-x: hidden;
	}
.main-story {
	margin: 0% 25%;
	// padding-top: 1rem;
}
.test-vis {
	margin: 0% 10%;
	display: flex;
	flex-direction: row;
	width: calc(100% - 20%);
	max-height: 100%;
	justify-content: center;
	gap:2.4rem;
}
.graphic-title{
	color: $darkest-brown;
}
// #title-map, 
#title-gif-container {
	max-width: 25%;
    margin: auto;

    padding-top: 6rem;
}

#title-gif {width: 100%;}

.title-container {
	padding: 1rem 0 4rem 0;
	margin: auto;
}
.title {
    
	line-height: 3.5rem;
	font-size: 3rem;
	font-weight: 400;
    font-family: $hedvig;
    color: $darkest-brown;
	text-align: center;
	text-wrap: balance;
    margin-top: 1rem;
    margin-bottom: 2rem;
}
.subtitle {
	line-height: 1.3rem;
	color: $color_2;
	font-size: 1.1rem;
	font-weight: 300;
	text-align: justify;
	word-break: normal;
}
.title-date {
	text-align: right;
	font-size: 0.9rem;
}
.main-body {
	display: flex;
	flex-direction: column;
	height: 100%;
}
.vis-header {
	font-weight: 500;
	font-size: 1.8rem;
	text-align: center;
	font-family: $hedvig;
}
p {
	font-size: 1.1rem;
}

.intro-text {
	padding-bottom: 0px;
	line-height: 1.8rem;
	text-indent: 1.8rem;
}
.story-text {
	font-size: 1.3rem;
	background-color: $background-color_2;
	z-index: 5;
	position: relative;
	padding: 10px 20px;
	border-radius: 5px;
}
#tooltip {
	position: absolute;
	background: rgba(255, 246, 235, 0.8);
	color: $color_3;
	padding: 8px 12px;
	border-radius: 6px;
	pointer-events: none;
	font-size: 0.9rem;
	z-index: 10;
}
#tooltip2 {
	position: absolute;
	background: rgba(255, 246, 235, 0.8);
	color: $color_3;
	padding: 8px 12px;
	border-radius: 6px;
	pointer-events: none;
	font-size: 0.9rem;
	z-index: 10;
}
.hidden {
	display: none;
}
#vis-wrapper {
	padding-top: 40px;
	z-index: 2;
}

#vis{
max-width: 50%;
margin: auto;
}
svg {
	// width: 100%;
	margin-left: auto;
	margin-right: auto;
}

.section {
	padding-bottom: 80%;
}
.section.first, .section.last {
	padding-bottom: 0px;
}
.section.last{
	padding-top: 6rem;
}
.white-bg{
	background-color: white;
	z-index: 9;
}
#grid-vis{
	max-width: 100%;
	// width: 100%;
	flex: 12;
	min-width: 0px;
// viewbox: 0 0 20 10;
}


.side-bar {
	display: flex;
	flex-direction: column;
	// padding-top: 1.4rem;
	overflow: visible;
	flex: 4;
	align-items: center;
	gap: 0.8rem;
	position: relative;
}
.fact-sheet {
	// max-width: 10%;
	// width: 30%;
	flex: 6;
}

.grid-side{
	// border: 0.5px solid black;
	margin: 0;
	padding-top: 2rem;
	// width: 20%;
}
#map-vis {
	min-width: 0;
	height: 100%;
	// viewbox: 0 0 20 10;
	margin: 0px 0 0 0;
}
.map-header {
	text-align: center;
    width: 80%;
    font-size: 1.8rem;
    font-family: $hedvig;

	font-weight: 500;
	// padding-top: 4rem;
    color: $coffee;
	margin: 0;
}
.filters {
	gap: 2rem;
	align-items: center;
	margin: auto;
    margin: 0;
	width: 100%;
}
.map-filters {
	display: flex;
	flex-direction: row;
}
.key-header {
	font-family: $hedvig;
	font-weight: 400;
	font-size: 1.2rem;
	opacity: 1;
	color: $coffee;
	text-align: center;
	// padding: 1rem 0  0 0;
	// margin: 0;
    // padding-left: 2px;
	margin: 0 .8rem;
  position: relative;
}

.information {
  position: absolute;
  top: 0.2rem;          /* stick to the top line */
  left: -0.4rem;
  width: 18px;
  height: 18px;
  border-radius: 50%;
  background: #e0e0e0;
  color: #333;
  font-size: 12px;
  font-weight: bold;
  display: flex;
  align-items: center;
  justify-content: center;
  cursor: pointer;
}

.information-box{
    // height: 150px;
    width: 120px;
    position: absolute;
    // display: none;
	border: 1px solid $lightest-gray;
	border-radius: 20px;
	padding: 0.1rem;
    padding-bottom: 1rem;
    margin-top: -40px;
    left: -110px; 
	font-family: $hedvig;
	background-color: white;


}
#school-type-information-box{
	padding-bottom: 0rem;
}

#enrollment-information-box{
    padding-bottom:0.6rem;

}
.info-header{
    font-family: $hedvig;
    color: $coffee;
    font-size: 0.8rem;
    // margin:  auto;
    text-align: center;
}  


.total-en-header{
  font-size: 0.7rem;
    padding: 0.8rem 0.4rem 0rem;}

#info-circles{
    display: flex;
    align-items: center;
    justify-content: center;
    gap:10px;
    // margin:auto;
    width: 120px;
}
.info-percents-container{
    display: flex;
    align-items: center;
    justify-content: center;
    gap:20px;
}

.info-percents{
    font-family: $hedvig;
    font-size: 0.6rem;
    font-weight: 300;
    color: $coffee;
}
.dots-pics{
    width: 30px; 
    height: auto;
    // margin: 10px;
    object-fit: contain;
}

#blue-rect{
    margin-left: 20px;
}
.info-list{
    display: flex;
  flex-direction: column;
  gap: 8px; /* spacing between items */
  padding-left: 20px;
}
.info-square{
   width: 1rem;
  height: 1rem;
  background: transparent;
  border: 1px solid $coffee;
  flex-shrink: 0; /* prevents the square from shrinking */
box-sizing: border-box;
}

#future-use-square::after{ content: "";
  position: relative;
  bottom: (13.5px);
  right: 0.5px;

  width: 0;
  height: 0;

  /* triangle made from borders */
  border-bottom: 0.98rem solid $coffee;
  border-left: 0.98rem solid transparent;
}
.info-list-item{
// font-family: $inter;
font-size: 0.6rem;
color: $coffee;
  display: flex;
  align-items: center;
  gap: 8px; /* space between square and text */
//   font-size: 16px;
}


.map-key-header {
	font-size: 1rem;
	padding: 0rem;
}
.button-group {
	border: 1px solid $lightest-gray;
	border-radius: 30px;
	padding: 0.1rem;
	margin: 0.5rem 0.4rem;
	&:hover {
		box-shadow:  0 0 0 1px $coffee;
		cursor: pointer;
	}
}
.map-button-group {
	width: 40%;
	margin: 0.4rem auto;
}
.map-buttons {
	order: 3;
}
.key-text {
	color: $latte;
	font-family: $inter;
	font-weight: Regular;
	text-align: center;
	margin: 0.1rem;
	font-size: 0.7rem;
}
.map-text {
	font-size: 0.8rem;
}
#elementary-button.selected {
	background-color: $background-color_3;
}
#middle-button.selected {
	background-color: $background-coffee;
}
#high-button.selected {
	background-color: $background-color_5;
}
#to-close-button.selected {
	background-color: $background-color_1;
}
#atoms-button.selected {
	background-color: $background-color_6;
}
#color-button.selected {
	background-color: $background-color_6;
}
#current-use-button.selected {
	background-color: $background-color_6;
}
#future-use-button.selected {
	background-color: $background-color_6;
}
@media (max-width: 1200px) {
	html {
		font-size: 12px;
	}
}
@media (max-width: 700px) {
	html {
		font-size: 10px;
	}
	body {
		margin: 0% 5%;
	}
}

.small-break{
    padding-top: 2rem;
}

.gray-line{
    margin: 10px;
    height: 0.2px;
    width: 80%;
    background-color: $lightest-gray;
}