html {
  font-family: "Work Sans", "Open Sans", Arial, Helvetica, sans-serif;
  cursor: default;
  font-size: 16px;
  display: flex;
  height: 100%;
}

a {
  text-decoration: none;
}

.logo {
  font-family: "Averia Serif Libre";
  padding: 2rem;
  font-size: 2rem;
  text-align: center;
  color: rgb(218, 24, 24);
}

body {
  display: flex;
  flex-direction: column;
  height: 100%;
}
.main-story {
  margin: 0% 25%;
}
.test-vis {
  margin: 0% 0%;
  display: flex;
  flex-direction: row;
  height: 100%;
  justify-content: center;
}
.title-container {
  padding: 1rem 0 4rem 0;
  /* padding-top: 10rem; */
  /* max-width: 90%; */
  margin: auto;
}

.title {
  line-height: 3.5rem;
  font-size: 3rem;
  font-weight: 400;
  text-align: center;
  text-wrap: balance;
}

.subtitle {
  /* margin: 5% 0; */
  /* padding: 2rem; */
  line-height: 1.3rem;
  color: rgb(116, 116, 116);
  font-size: 1.1rem;
  font-weight: 300;
  text-align: justify;
  word-break: normal;
}

.title-date {
  text-align: right;
  font-size: 0.9rem;
}

.main-body {
  display: flex;
  flex-direction: column;
  height: 100%;
}
.vis-header {
  font-weight: 500;
  font-size: 1.8rem;
  text-align: center;
}

p {
  font-size: 1.1rem;
}

.intro-text {
  padding-bottom: 0px;
}

.story-text {
  font-size: 1.3rem;
  background-color: rgba(218, 218, 205, 0.8);
  z-index: 10;
  position: relative;
  padding: 10px 20px;
  border-radius: 5px;
}

#tooltip,
#tooltip2 {
  position: absolute;
  background: rgba(255, 246, 235, 0.8);
  color: rgb(5, 5, 0, 0.8);
  padding: 8px 12px;
  border-radius: 6px;
  pointer-events: none;
  font-size: 0.9rem;
}

.hidden {
  display: none;
}

#vis-wrapper {
  padding-top: 40px;
}
.scrollmagic-pin-spacer {
  /* height: 0; */
}

svg {
  width: 100%;
  /* transform: translate(0%, 40%); */
  margin-left: auto;
  margin-right: auto;
}

.section {
  /* display: flex; */
  /* height: 80%;
  flex-basis: auto; */
  padding-bottom: 80%;
}
.section.first {
  padding-bottom: 0px;
}
/* 
.squares:hover {
  fill: #fcbef38e;
} */

.side-bar {
  display: flex;
  flex-direction: column;
  margin-top: 1.4rem;
  overflow: hidden;
  width: 10%;
  align-items: center;
}

.fact-sheet {
  max-width: 20%;
}

#map-vis {
  width: 100%;
  height: 100%;
  viewbox: 0 0 20 10;
  margin: 0px 0 0 0;
}
.map-header {
  font-size: 1.7rem;
  font-weight: 500;
  padding-top: 2rem;
}
.filters {
  gap: 2rem;
  align-items: center;
  margin: auto;
  width: 100%;
}
.map-filters {
  display: flex;
  flex-direction: row;
}
.key-header {
  font-family: Inter;
  font-weight: 600;
  font-size: 1.4rem;
  opacity: 1;
  color: #4e3f3e;
  text-align: center;
  padding: 1rem 0 0.5rem 0;
  margin: 0;
}

.map-key-header {
  font-size: 1rem;
  padding: 0rem;
}

.button-group {
  border: 1px solid rgba(78, 63, 62, 1);
  border-radius: 30px;
  padding: 0.1rem;
  /* width: 70%; */
  margin: 0.5rem 0.4rem;
}
.map-button-group {
  width: 40%;
  margin: 0.4rem auto;
}
.map-buttons {
  /* position: absolute;
  top: 10%;
  right: 10%; */
  /* margin-right: -20%;
  margin-bottom: -30%; */
  order: 3;
}

.button-group:hover {
  box-shadow: inset 0 0 0 1px black;
  cursor: pointer;
}
.key-text {
  color: rgba(0, 0, 0, 1);
  font-family: Inter;
  font-weight: Regular;
  text-align: center;
  margin: 0.1rem;
  font-size: 0.8rem;
}
.map-text {
  font-size: 0.8rem;
}

#elementary-button.selected {
  background-color: #d7e3ff;
}

#middle-button.selected {
  background-color: #decafe;
}
#high-button.selected {
  background-color: #ffdaee;
}
#to-close-button.selected {
  background-color: #da5656;
}

#atoms-button.selected {
  background-color: #e1e1e1;
}
#color-button.selected {
  background-color: #e1e1e1;
}
#current-use-button.selected {
  background-color: #e1e1e1;
}
#future-use-button.selected {
  background-color: #e1e1e1;
}
/* //smaller screens */
@media (max-width: 1200px) {
  html {
    font-size: 12px;
  }
}
/* small and handheld screens */
@media (max-width: 700px) {
  html {
    font-size: 10px;
  }
  body {
    margin: 0% 5%;
  }
}
